html{
    scroll-behavior: smooth;
}
body{
    padding: 0;
    margin: 0;
}
:root{
    --body-color: #FFFFFF;
    --text-color: #221C36;
    --btn-color: #09b587/*#EE5A4E*/;
    --btn-hover-color: #0b9e77/*#e3584b*/;
    --border-color: #09b587/*#EE5A4E*/;
    --btn-padding: 10px 20px;
    --secondary-color: #d8ebe4;
}
::selection{
    background-color: var(--btn-hover-color);
    color:  white;
    font-weight: bold;
}
::marker{
    color: green;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
}
.row{
    border: 1px solid gdreen;
    scroll-snap-align: center;
}
.row::after{
    content: "";
    clear: both;
    display: table;
    border: 1px solid red;
}
[class*="col-"]{
    float: left;
    padding: 15px;
    sborder: 1px solid red;
}






.container{
    
}


.brand .brand-name{
    padding: var(--btn-padding);
}

#menu-area{
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: white;
    z-index: 2;
}

.menu{
    display: flex;
}
.menu ul{
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    
}
.menu ul::after{
    content: "";
    clear: both;
    display: table;
}
.menu ul li{
    float: left;
}
.menu ul li a{
    display: inline-block;
    color: var(--text-color);
    text-decoration: none;
    text-transform: capitalize;
    padding: var(--btn-padding);
}
.menu ul li a:hover{
    border-bottom: 2px solid var(--border-color);
    
}
.download-cv{
    display: flex;
    justify-content: center;
}
.download-cv a{
    display: inline-block;
    padding: var(--btn-padding);
    background-color: var(--btn-color);
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
.download-cv a:hover{
    background-color: var(--btn-hover-color);
}
.collapse-btn{

    position: relative;
    padding: var(--btn-padding);
}
.collapse-btn button{
    float: right;
    outline: none;
    background-color: var(--btn-color);
    color: white;
    padding: var(--btn-padding);
    border: none;
    font-size: 18px;
}
.collapse-btn button.active{
    background-color: var(--btn-hover-color);

}
.collapse-btn button:hover{
    background-color: var(--btn-hover-color);
}

.collapse-menu{
    /*background-color: #E0E5E9 #E3584B;*/
    box-shadow: 10px 20px 20px rgba(0,0,0,.25);
    background-color: white;
    border-top: 1px solid var(--btn-hover-color) ;
    height: 300px;
    width: 80%;
    position: absolute;
    top: 51px;
    opacity: 1;
    right: 20px;
    display: none;

}
.collapse-menu.show{
    display: block;
    animation-name: collapse-menu;
    animation-duration: 0.07s;
    animation-timing-function: linear;
}

.collapse-menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}
.collapse-menu ul li{
    float: block;
}
.collapse-menu ul li a{
    display: block;
    color: var(--text-color);
    text-decoration: none;
    text-transform: capitalize;
    padding: var(--btn-padding);
    text-align: center;
}
.collapse-menu ul li a:hover{
    /*border-bottom: 2px solid var(--border-color);*/
    background-color: var(--secondary-color); /*var(--btn-hover-color);*/
}


#slider{
    width: 100%;
    margin-top: 80px;
}

#slider-area{
    background-color: var(--secondary-color);
}
#slider .info{
    /*display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;*/
    padding: 50px 80px;
}
.info-heading,.info-descrive{
    margin-top: 10px;
}
#slider .info .info-heading{
    text-transform: capitalize;
}
#slider .info .info-descrive{
    text-align: justify;
}
#slider .info .info-btn{
    margin-top: 20px;
}
#slider .info .info-btn a{
    display: inline-block;
    background-color: var(--btn-color);
    padding: 10px 40px;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}
#slider .info .info-btn a:hover{
    background-color: var(--btn-hover-color);
}
#slider .info  a.download-cv-btn{
    background: transparent;
    color: var(--text-color);
    border: 1px solid var(--border-color);
    padding: 9px 40px;
}
#slider .info  a.download-cv-btn:hover{
    background-color: var(--btn-hover-color);
    color: white;
}
#slider .image #right-image{
    margin-left: 50px;
    height: 400px;
    width: 400px;
   
}
#slider .image img{
    height: 100%;
    width: 100%;
}




/* about section */
#about .heading, #services .heading, #portfolios .heading, #contact .heading{
    text-align: center;
    margin-top: 50px;
}
#about h1, #services .heading h1, #portfolios .heading h1, #contact .heading h1{
    display: inline-block;
    text-align: center;
    border-bottom: 2px solid var(--border-color);
  

}
#about table{
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
}
#about table tr, td{
    bodrder: 1px solid black;
}
#about table tr:nth-child(odd){
    background-color: #75cfb8;/*var(--secondary-color);*/
    color: white;
    
}
#about table td{
    padding: var(--btn-padding);
    text-transform: uppercase;
}

/*services section*/

#services .heading,#portfolios .heading{
    margin-bottom: 50px;
}
#services .service, #portfolios .portfolio{
    display: flex;
    border: 5px solid white;
    height: 300px; /* -------------------------------------------------- */
    background-color: var(--secondary-color);
    justify-content: center;
    align-items: center;
    transition: all .2s ease-in-out;
}

#services .card{
    position: relative;
    overflow: hidden;
}
#services .card-box{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
#services .card-description{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--btn-hover-color);
    z-index: -1;
    /*transform-style: preserve-3d;
    transform: rotate(-180deg);
    */
    transform: translateY(-100%);
    transition: transform 0.5s ease-in-out;   
}
#services .card:hover .card-description{
    transform: translateY(0) ;
    z-index: 1;  
}


/*port folio*/
#portfolios .portfolio{
    height: 300px; 
}
#portfolios .portfolio:hover{
    font-size: 20px;
    background-color: var(--btn-hover-color);
    color: white;
    transform: scale(1.0, 1.0);
    border: 5px solid white;
    text-decoration: none;
    cursor: pointer;
    ofilter: blur(1.5px);
}
#contact{
    padding: 0 50px;
}
#contact .form-group{
    position: relative;
    margin-top: 40px;
}

#contact .form-group .input{
    width: 100%;
    height: 30px;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    position: absolute;
    background-color: transparent;
    outline: none;
    padding: 5px 5px;
}
#contact .form-group .message-body{
    min-height: 200px;
    min-width: 100%;
    max-height: 200px;
    max-width: 100%;
}

#contact .form-group .contact-button{
    display: inline-block;
    background-color: var(--btn-color);
    border: none;
    outline: none;
    padding: 10px 40px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    display: block;
    margin-top: 200px;
}

#contact .form-group .contact-button:hover{
    background-color: var(--btn-hover-color);
}
#contact .form-group .form-label{
    display: inline-block;
    transform: translate(15px, 7px);
    color: var(--btn-hover-color);
    transition: transform .2s;
}
#contact .form-group .input:focus{
    border: 2px solid var(--btn-hover-color);
}

#contact .form-group .input:focus~.form-label, #contact .form-group .input:valid~.form-label{
    transform: translateY(-20px);

}

#internet .heading{
    text-align: center;
    margin: 50px 0px 20px 0px;
}
#internet h1{
    display: inline-block;
    text-align: center;
    color: var(--btn-color);
}

#internet .internet-descrive{
    max-width: 400px;
    text-align: center;
    margin: 0 auto;
}
#internet .social-link{
    max-width: 400px;
    margin: 20px auto;
}
#intdernet .link-area{      /*------------------------*/
    width: 400px;
    margin: 0 auto;
}

#internet .link-area::after{
    content: "";
    clear: both;
    display: table;
}
#internet .link{
    width: 50px;
    height: 50px;
    padding: 10px;
    display: inline-block;
    border-radius: 50px;
    background-color: var(--btn-color);
    margin: 0 5px;
   
    transition:  .2s ease-in-out;
}

#internet .link i{
    font-size: 26px;
    color: white;
    margin-left: 6px;
    margin-top: 2px;
    
    
}

#internet .facebook:hover{
    background-color: #166FE5;
    transform: scale(1.2, 1.2);
}
#internet .google:hover{
    background-color: #EA4335;
    transform: scale(1.2, 1.2);
}
#internet .twitter:hover{
    background-color: #28A9E0;
    transform: scale(1.2, 1.2);
}
#internet .youtube:hover{
    background-color: #FE0000;
    transform: scale(1.2, 1.2);
}
@keyframes collapse-menu{
    0%{
       transform: scale(0,0);
       
    }
    100%{
        transform: scale(1,1);
      
    }
}



@media only screen and (min-width: 968px){
    .col-0{display: none;}
    .col-1{width: 8.33%}
    .col-2{width: 16.67%}
    .col-3{width: 25%}
    .col-4{width: 33.33%}
    .col-5{width: 41.66%}
    .col-6{width: 50%}
    .col-7{width: 58.33%}
    .col-8{width: 66.33%}
    .col-9{width: 75%}
    .col-10{width: 83.33%}
    .col-11{width: 91.66%}
    .col-12{width: 100%}
}


@media only screen and (min-width:1368px){
    .container{
        width: 1368px;
    }
    #menu-area{
        width: 1368px;
    }
}

@media only screen and (max-width:968px){
    sbody{
      background-color: red;
    }
     .m-visible{display: block;}
     .col-m-0{display: none;}
     .col-m-1{width: 8.33%}
     .col-m-2{width: 16.67%}
     .col-m-3{width: 25%}
     .col-m-4{width: 33.33%}
     .col-m-5{width: 41.66%}
     .col-m-6{width: 50%}
     .col-m-7{width: 58.33%}
     .col-m-8{width: 66.33%}
     .col-m-9{width: 75%}
     .col-m-10{width: 83.33%}
     .col-m-11{width: 91.66%}
     .col-m-12{width: 100%}

     #slider .info{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    #slider .info .info-heading{
        text-align: center;
    }
    #slider .info .info-descrive{
        text-align: center;
    }
 }

 @media only screen and (max-width:768px){
    bofdy{
      background-color: red;
    }
     .visible{display: block;}
     .col-s-0{display: none;}
     .col-s-1{width: 8.33%}
     .col-s-2{width: 16.67%}
     .col-s-3{width: 25%}
     .col-s-4{width: 33.33%}
     .col-s-5{width: 41.66%}
     .col-s-6{width: 50%}
     .col-s-7{width: 58.33%}
     .col-s-8{width: 66.33%}
     .col-s-9{width: 75%}
     .col-s-10{width: 83.33%}
     .col-s-11{width: 91.66%}
     .col-s-12{width: 100%}
 }

 @media only screen and (max-width:500px){
     .container{
         padding-left: 15px;
     }
     #menu-area{
         left: 0;
         
     }
   
}